body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#section_form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FC9D9A;
}

#section_form .logo {
    width: 150px;
    margin: 10px auto;
    display: block;
}

#section_form h1 {
    color: #d01a49;
    text-align: center;
    font-size: 28px;
}

#section_form label {
    color: #d01a49;
    font-size: 18px;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#section_form input[type='text'],#section_form input[type='password'] {
    padding: 10px;
    box-shadow: none;
    background: #d01a480f;
    border: 1px solid #cd104124;
    color: #cd1041a3;
    margin: 10px 0px;
    transition: all 1s;
}
#section_form input[type='text']:focus,#section_form input[type='password']:focus{
    color: #cd1041;
    border: 1px solid #cd1041b8;
}

#section_form input[type='submit'] {
    margin: 30px auto 0px auto;
    display: block;
    border-radius: 5px;
    box-shadow: none;
    padding: 10px 30px;
    border: none;
    background-color: #d01a49;
    color: #ffd5d3;
    transition: all 1s;
}


#section_form input[type='submit']:hover {
    background-color: #bb526d;
}

#section_form .box_form {
    padding: 40px;
    background-color: rgb(255, 213, 211);
    -webkit-box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.75);
}